/* CONTAINERS  */
.spacer {
    padding: 1.4rem 1.4rem;
}

/* BUTTONS  */




/* MODALS  */




/* TAGS  */


/* GENERALS  */
h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.body-text {
    color: var(--gray-700);
    font-weight: 400;
    font-size: 15px;
}

.data-number {
    font-weight: 500;
    color: var(--gray-500);
}

.desc-text {
    color: var(--gray-500);
    font-weight: 300;
    font-size: 12px;
}