@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

::-webkit-scrollbar {
    width: 4px;
    /* width of the entire scrollbar */
    /* height of the entire scrollbar */
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--main-color);
    /* creates padding around scroll thumb */
}

:root {
    --primary-font-family: 'Montserrat', sans-serif;
    /* Main Colors  */
    --primary-color: #0040a1;
    --secondary-color: #00EC83;
    --dark-color: #282929;
    --light-accent: #E6F2FF;
    --muted-color: #7E7E7E;
    --dark-primary-color: #002C6D;


    /* Cobalt Blue  */
    --blue-100: #ebf3ff;
    --blue-200: #d6e7ff;
    --blue-300: #c2dbff;
    --blue-400: #99c3ff;
    --blue-500: #85bbff;

     /* Green Shades  */
     --green-100: #ebfff6;
     --green-200: #d6ffed;
     --green-300: #c2ffe4;
     --green-400: #99ffd1;
     --green-500: #70ffbf;
     --green-600: #06E594;
   

    /* Gray Shades  */
    --gray-50: #f5f5f5;
    --gray-100: #ebebeb;
    --gray-150: #d9d9d9;
    --gray-200: #e0e0e0;
    --gray-250: #A9A9A9;
    --gray-300: #c2c2c2;
    --gray-350: #E5E7E8;
    --gray-400: #979b9b;
    --gray-450: #c4c4c4;
    --gray-500: #646b6b;
    --gray-600: #464949;
    --gray-700: #3c3e3e;
    --gray-800: #323434;
    --gray-900: #282929;

    /* Alerts/Extras/Accents  */
    --inactive-color: #C2DBFF;
    --error-color: #Ff6550;
    --error: #FC3030;
    --info-color: #Ffb836;
    --success-color: #56cdad;
    --success: #50B748;
     --blue-accent: #26a4ff;
     --purple-accent: #7b61ff;
    --spacer: 20px;
    --curve: 10;
}